<section class="bg-primary">
	<div
		class="px-8 2xl:max-w-7xl mx-auto pt-12"
		data-aos="fade-up"
		data-aos-duration="2000"
	>
		<svg
			viewBox="0 0 467 76"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
		>
			<path
				d="M25.2 32.64C25.2 30.7733 24.6667 29.3067 23.6 28.24C22.5867 27.12 21.2 26.56 19.44 26.56C17.68 26.56 16.16 27.0133 14.88 27.92C13.6533 28.7733 12.8 30.32 12.32 32.56L0.8 29.84C1.54667 26 3.52 22.9333 6.72 20.64C9.92 18.3467 14.4267 17.2 20.24 17.2C24.1333 17.2 27.44 17.7867 30.16 18.96C32.9333 20.08 35.04 21.7867 36.48 24.08C37.9733 26.32 38.72 29.0933 38.72 32.4V47.04C38.72 49.12 39.6533 50.16 41.52 50.16C42.48 50.16 43.2533 50.0533 43.84 49.84L43.04 57.6C41.44 58.3467 39.4933 58.72 37.2 58.72C35.12 58.72 33.28 58.4 31.68 57.76C30.08 57.0667 28.8267 56.0533 27.92 54.72C27.0133 53.3333 26.56 51.6 26.56 49.52V49.04L28.08 48.48C28.08 50.7733 27.3867 52.6933 26 54.24C24.6667 55.7867 22.9067 56.9333 20.72 57.68C18.5867 58.4267 16.3467 58.8 14 58.8C11.28 58.8 8.90667 58.3733 6.88 57.52C4.85333 56.6667 3.28 55.44 2.16 53.84C1.09333 52.1867 0.56 50.16 0.56 47.76C0.56 44.88 1.41333 42.5067 3.12 40.64C4.88 38.72 7.62667 37.3867 11.36 36.64L26.48 33.52L26.4 40.72L18.72 42.32C17.12 42.64 15.92 43.12 15.12 43.76C14.3733 44.3467 14 45.2533 14 46.48C14 47.6533 14.4267 48.5333 15.28 49.12C16.1333 49.7067 17.1467 50 18.32 50C19.2267 50 20.08 49.8667 20.88 49.6C21.7333 49.3333 22.48 48.9333 23.12 48.4C23.76 47.8133 24.2667 47.0933 24.64 46.24C25.0133 45.3867 25.2 44.3733 25.2 43.2V32.64ZM49.2081 58V18H61.3681L61.7681 25.76C63.0481 22.9333 64.8348 20.8 67.1281 19.36C69.4748 17.92 72.1681 17.2 75.2081 17.2C78.1948 17.2 80.7815 17.8667 82.9681 19.2C85.1548 20.5333 86.7815 22.5067 87.8481 25.12C88.7015 23.36 89.7948 21.8933 91.1281 20.72C92.5148 19.5467 94.0881 18.6667 95.8481 18.08C97.6081 17.4933 99.4215 17.2 101.288 17.2C103.955 17.2 106.301 17.7333 108.328 18.8C110.355 19.8133 111.955 21.3867 113.128 23.52C114.355 25.6 114.968 28.2133 114.968 31.36V58H101.368V34.48C101.368 31.92 100.861 30.1333 99.8481 29.12C98.8881 28.1067 97.5815 27.6 95.9281 27.6C94.5948 27.6 93.3681 27.9467 92.2481 28.64C91.1815 29.28 90.3548 30.2667 89.7681 31.6C89.1815 32.9333 88.8881 34.6133 88.8881 36.64V58H75.2881V34.48C75.2881 31.92 74.7815 30.1333 73.7681 29.12C72.7548 28.1067 71.4481 27.6 69.8481 27.6C68.6215 27.6 67.4481 27.92 66.3281 28.56C65.2615 29.2 64.4081 30.2133 63.7681 31.6C63.1281 32.9333 62.8081 34.6933 62.8081 36.88V58H49.2081ZM131.321 13.36C128.547 13.36 126.521 12.8533 125.241 11.84C124.014 10.7733 123.401 9.12 123.401 6.88C123.401 4.58666 124.014 2.93333 125.241 1.92C126.521 0.853332 128.547 0.319999 131.321 0.319999C134.041 0.319999 136.041 0.853332 137.321 1.92C138.601 2.93333 139.241 4.58666 139.241 6.88C139.241 9.12 138.601 10.7733 137.321 11.84C136.041 12.8533 134.041 13.36 131.321 13.36ZM138.121 18V60.24C138.121 63.8667 137.481 66.7733 136.201 68.96C134.974 71.1467 133.214 72.72 130.921 73.68C128.627 74.6933 125.854 75.2 122.601 75.2C120.467 75.2 118.521 74.96 116.761 74.48C115.001 74.0533 113.454 73.44 112.121 72.64L114.041 63.84C114.627 64.2667 115.347 64.6133 116.201 64.88C117.054 65.2 118.041 65.36 119.161 65.36C120.761 65.36 122.041 64.88 123.001 63.92C124.014 63.0133 124.521 61.3867 124.521 59.04V18H138.121ZM170.122 32.64C170.122 30.7733 169.589 29.3067 168.522 28.24C167.509 27.12 166.122 26.56 164.362 26.56C162.602 26.56 161.082 27.0133 159.802 27.92C158.575 28.7733 157.722 30.32 157.242 32.56L145.722 29.84C146.469 26 148.442 22.9333 151.642 20.64C154.842 18.3467 159.349 17.2 165.162 17.2C169.055 17.2 172.362 17.7867 175.082 18.96C177.855 20.08 179.962 21.7867 181.402 24.08C182.895 26.32 183.642 29.0933 183.642 32.4V47.04C183.642 49.12 184.575 50.16 186.442 50.16C187.402 50.16 188.175 50.0533 188.762 49.84L187.962 57.6C186.362 58.3467 184.415 58.72 182.122 58.72C180.042 58.72 178.202 58.4 176.602 57.76C175.002 57.0667 173.749 56.0533 172.842 54.72C171.935 53.3333 171.482 51.6 171.482 49.52V49.04L173.002 48.48C173.002 50.7733 172.309 52.6933 170.922 54.24C169.589 55.7867 167.829 56.9333 165.642 57.68C163.509 58.4267 161.269 58.8 158.922 58.8C156.202 58.8 153.829 58.3733 151.802 57.52C149.775 56.6667 148.202 55.44 147.082 53.84C146.015 52.1867 145.482 50.16 145.482 47.76C145.482 44.88 146.335 42.5067 148.042 40.64C149.802 38.72 152.549 37.3867 156.282 36.64L171.402 33.52L171.322 40.72L163.642 42.32C162.042 42.64 160.842 43.12 160.042 43.76C159.295 44.3467 158.922 45.2533 158.922 46.48C158.922 47.6533 159.349 48.5333 160.202 49.12C161.055 49.7067 162.069 50 163.242 50C164.149 50 165.002 49.8667 165.802 49.6C166.655 49.3333 167.402 48.9333 168.042 48.4C168.682 47.8133 169.189 47.0933 169.562 46.24C169.935 45.3867 170.122 44.3733 170.122 43.2V32.64ZM208.538 58.8C205.231 58.8 202.324 58 199.818 56.4C197.364 54.7467 195.444 52.3733 194.058 49.28C192.724 46.1867 192.058 42.48 192.058 38.16C192.058 33.68 192.751 29.8933 194.138 26.8C195.578 23.7067 197.551 21.3333 200.058 19.68C202.618 18.0267 205.551 17.2 208.858 17.2C212.484 17.2 215.391 18.32 217.578 20.56C219.818 22.7467 221.258 25.5467 221.898 28.96L220.618 30.64V1.04H234.218V58H222.058L221.178 44.4L222.778 45.6C222.458 48.2667 221.631 50.5867 220.298 52.56C219.018 54.5333 217.364 56.08 215.338 57.2C213.364 58.2667 211.098 58.8 208.538 58.8ZM213.258 48.8C214.804 48.8 216.111 48.4 217.178 47.6C218.298 46.7467 219.151 45.4933 219.738 43.84C220.324 42.1867 220.618 40.16 220.618 37.76C220.618 35.52 220.324 33.6267 219.738 32.08C219.204 30.48 218.378 29.28 217.258 28.48C216.191 27.6267 214.884 27.2 213.338 27.2C210.991 27.2 209.124 28.08 207.738 29.84C206.404 31.5467 205.738 34.2667 205.738 38C205.738 41.7333 206.404 44.48 207.738 46.24C209.071 47.9467 210.911 48.8 213.258 48.8ZM306.245 18L291.685 58C290.192 62.2133 288.565 65.5733 286.805 68.08C285.045 70.5867 282.965 72.4 280.565 73.52C278.165 74.64 275.285 75.2 271.925 75.2C269.685 75.2 267.632 74.96 265.765 74.48C263.898 74 262.272 73.3333 260.885 72.48L263.605 63.28C264.565 63.9733 265.578 64.4533 266.645 64.72C267.712 65.04 269.072 65.2 270.725 65.2C272.272 65.2 273.525 64.9333 274.485 64.4C275.498 63.8667 276.298 62.8533 276.885 61.36L277.925 58.88L273.285 48L261.285 18H276.245L282.405 40.8L284.325 49.28L286.565 40.48L292.725 18H306.245ZM332.544 32.64C332.544 30.7733 332.01 29.3067 330.944 28.24C329.93 27.12 328.544 26.56 326.784 26.56C325.024 26.56 323.504 27.0133 322.224 27.92C320.997 28.7733 320.144 30.32 319.664 32.56L308.144 29.84C308.89 26 310.864 22.9333 314.064 20.64C317.264 18.3467 321.77 17.2 327.584 17.2C331.477 17.2 334.784 17.7867 337.504 18.96C340.277 20.08 342.384 21.7867 343.824 24.08C345.317 26.32 346.064 29.0933 346.064 32.4V47.04C346.064 49.12 346.997 50.16 348.864 50.16C349.824 50.16 350.597 50.0533 351.184 49.84L350.384 57.6C348.784 58.3467 346.837 58.72 344.544 58.72C342.464 58.72 340.624 58.4 339.024 57.76C337.424 57.0667 336.17 56.0533 335.264 54.72C334.357 53.3333 333.904 51.6 333.904 49.52V49.04L335.424 48.48C335.424 50.7733 334.73 52.6933 333.344 54.24C332.01 55.7867 330.25 56.9333 328.064 57.68C325.93 58.4267 323.69 58.8 321.344 58.8C318.624 58.8 316.25 58.3733 314.224 57.52C312.197 56.6667 310.624 55.44 309.504 53.84C308.437 52.1867 307.904 50.16 307.904 47.76C307.904 44.88 308.757 42.5067 310.464 40.64C312.224 38.72 314.97 37.3867 318.704 36.64L333.824 33.52L333.744 40.72L326.064 42.32C324.464 42.64 323.264 43.12 322.464 43.76C321.717 44.3467 321.344 45.2533 321.344 46.48C321.344 47.6533 321.77 48.5333 322.624 49.12C323.477 49.7067 324.49 50 325.664 50C326.57 50 327.424 49.8667 328.224 49.6C329.077 49.3333 329.824 48.9333 330.464 48.4C331.104 47.8133 331.61 47.0933 331.984 46.24C332.357 45.3867 332.544 44.3733 332.544 43.2V32.64ZM395.741 7.28L396.861 16.4C396.541 16.2933 396.221 16.24 395.901 16.24C395.581 16.1867 395.261 16.16 394.941 16.16C392.594 16.16 390.834 16.7467 389.661 17.92C388.541 19.04 387.981 20.4533 387.981 22.16L383.181 20.4C383.181 18.2133 383.581 16.1067 384.381 14.08C385.181 12.0533 386.407 10.4 388.061 9.12C389.767 7.84 391.901 7.2 394.461 7.2C394.621 7.2 394.807 7.2 395.021 7.2C395.287 7.2 395.527 7.22666 395.741 7.28ZM381.981 49.12C386.621 49.12 390.167 50.1067 392.621 52.08C395.127 54 396.381 56.7733 396.381 60.4C396.381 63.7067 395.474 66.4533 393.661 68.64C391.847 70.8267 389.287 72.4533 385.981 73.52C382.727 74.64 378.861 75.2 374.381 75.2C367.127 75.2 361.901 74.2933 358.701 72.48C355.501 70.6667 353.901 68.2133 353.901 65.12C353.901 62.88 354.807 61.0667 356.621 59.68C358.434 58.2933 361.447 57.5467 365.661 57.44L365.341 58.72C362.087 58.2933 359.661 57.3333 358.061 55.84C356.461 54.3467 355.661 52.32 355.661 49.76C355.661 47.2 356.674 45.12 358.701 43.52C360.727 41.92 363.421 41.04 366.781 40.88L371.741 43.2H370.461C368.381 43.3067 366.914 43.6533 366.061 44.24C365.207 44.8267 364.781 45.5467 364.781 46.4C364.781 47.3067 365.154 48 365.901 48.48C366.647 48.9067 367.767 49.12 369.261 49.12H381.981ZM374.461 66.4C377.021 66.4 379.127 66.2133 380.781 65.84C382.487 65.52 383.767 65.04 384.621 64.4C385.474 63.8133 385.901 63.12 385.901 62.32C385.901 61.52 385.607 60.88 385.021 60.4C384.434 59.9733 383.367 59.76 381.821 59.76H367.501C366.487 59.76 365.661 60.0267 365.021 60.56C364.434 61.0933 364.141 61.76 364.141 62.56C364.141 63.7867 365.047 64.72 366.861 65.36C368.674 66.0533 371.207 66.4 374.461 66.4ZM374.941 17.2C378.994 17.2 382.461 17.7333 385.341 18.8C388.221 19.8667 390.407 21.4133 391.901 23.44C393.447 25.4133 394.221 27.8667 394.221 30.8C394.221 33.68 393.447 36.1333 391.901 38.16C390.407 40.1867 388.221 41.7333 385.341 42.8C382.461 43.8133 378.994 44.32 374.941 44.32C368.594 44.32 363.767 43.1467 360.461 40.8C357.207 38.4533 355.581 35.12 355.581 30.8C355.581 27.8667 356.327 25.4133 357.821 23.44C359.367 21.4133 361.581 19.8667 364.461 18.8C367.341 17.7333 370.834 17.2 374.941 17.2ZM374.941 24.96C373.181 24.96 371.741 25.4667 370.621 26.48C369.554 27.4933 369.021 28.9333 369.021 30.8C369.021 32.6133 369.554 34.0267 370.621 35.04C371.741 36.0533 373.181 36.56 374.941 36.56C376.647 36.56 378.061 36.0533 379.181 35.04C380.301 34.0267 380.861 32.6133 380.861 30.8C380.861 28.9333 380.301 27.4933 379.181 26.48C378.061 25.4667 376.647 24.96 374.941 24.96ZM401.786 58V1.04H415.386V25.28C416.56 22.6133 418.24 20.6133 420.426 19.28C422.613 17.8933 425.146 17.2 428.026 17.2C430.8 17.2 433.2 17.7333 435.226 18.8C437.306 19.8667 438.933 21.44 440.106 23.52C441.28 25.6 441.866 28.2133 441.866 31.36V58H428.266V35.12C428.266 32.24 427.733 30.2667 426.666 29.2C425.653 28.08 424.293 27.52 422.586 27.52C421.306 27.52 420.106 27.84 418.986 28.48C417.866 29.12 416.986 30.1333 416.346 31.52C415.706 32.9067 415.386 34.72 415.386 36.96V58H401.786ZM458.196 13.36C455.422 13.36 453.396 12.8533 452.116 11.84C450.889 10.7733 450.276 9.12 450.276 6.88C450.276 4.58666 450.889 2.93333 452.116 1.92C453.396 0.853332 455.422 0.319999 458.196 0.319999C460.916 0.319999 462.916 0.853332 464.196 1.92C465.476 2.93333 466.116 4.58666 466.116 6.88C466.116 9.12 465.476 10.7733 464.196 11.84C462.916 12.8533 460.916 13.36 458.196 13.36ZM464.996 18V58H451.396V18H464.996Z"
				fill="#00a86b"></path>
		</svg>
	</div>
	<div class="px-8 2xl:max-w-7xl mx-auto pb-12">
		<div class="mt-6 space-y-2">
			<div
				class="h-0.5 bg-secondary"
				data-aos="fade-up"
				data-aos-duration="1000"
			>
			</div>
			<div
				class="flex flex-col sm:flex-row gap-3 justify-between items-center"
				data-aos="fade-up"
				data-aos-duration="1500"
			>
				<div class="flex gap-3 items-center">
					<h3 class="text-secondary text-xs font-medium">
						<span>Engineering</span>
						<span class="font-bold">Physics</span>
						<span class="italic">Student</span>
					</h3>
					<span class="h-auto border-secondary border"></span>
					<span class="text-secondary text-xs font-semibold"
						>Available for work</span
					>
				</div>
				<div>
					<ul class="items-center inline-flex gap-3 relative">
						<li>
							<a
								href="https://github.com/amjadya"
								class="hover:text-secondary/80 text-secondary"
								><svg
									viewBox="0 0 24 24"
									xmlns="http://www.w3.org/2000/svg"
									height="16"
									width="16"
									><path d="M0 0h24v24H0z" fill="none"
									></path><path
										d="M12 2C6.475 2 2 6.475 2 12a9.994 9.994 0 0 0 6.838 9.488c.5.087.687-.213.687-.476 0-.237-.013-1.024-.013-1.862-2.512.463-3.162-.612-3.362-1.175-.113-.288-.6-1.175-1.025-1.413-.35-.187-.85-.65-.013-.662.788-.013 1.35.725 1.538 1.025.9 1.512 2.338 1.087 2.912.825.088-.65.35-1.087.638-1.337-2.225-.25-4.55-1.113-4.55-4.938 0-1.088.387-1.987 1.025-2.688-.1-.25-.45-1.275.1-2.65 0 0 .837-.262 2.75 1.026a9.28 9.28 0 0 1 2.5-.338c.85 0 1.7.112 2.5.337 1.912-1.3 2.75-1.024 2.75-1.024.55 1.375.2 2.4.1 2.65.637.7 1.025 1.587 1.025 2.687 0 3.838-2.337 4.688-4.562 4.938.362.312.675.912.675 1.85 0 1.337-.013 2.412-.013 2.75 0 .262.188.574.688.474A10.016 10.016 0 0 0 22 12c0-5.525-4.475-10-10-10z"
										fill="currentColor"></path></svg
								></a
							>
						</li>
						<li>
							<a
								href="https://www.youtube.com/@amjadyaghi"
								class="hover:text-secondary/80 text-secondary"
							>
								<svg
									viewBox="0 0 28.57 20"
									height="16"
									width="16"
									preserveAspectRatio="xMidYMid meet"
									xmlns="http://www.w3.org/2000/svg"
								>
									<g>
										<path
											d="M27.9727 3.12324C27.6435 1.89323 26.6768 0.926623 25.4468 0.597366C23.2197 2.24288e-07 14.285 0 14.285 0C14.285 0 5.35042 2.24288e-07 3.12323 0.597366C1.89323 0.926623 0.926623 1.89323 0.597366 3.12324C2.24288e-07 5.35042 0 10 0 10C0 10 2.24288e-07 14.6496 0.597366 16.8768C0.926623 18.1068 1.89323 19.0734 3.12323 19.4026C5.35042 20 14.285 20 14.285 20C14.285 20 23.2197 20 25.4468 19.4026C26.6768 19.0734 27.6435 18.1068 27.9727 16.8768C28.5701 14.6496 28.5701 10 28.5701 10C28.5701 10 28.5677 5.35042 27.9727 3.12324Z"
											fill="#00a86b"></path>
										<path
											d="M11.4253 14.2854L18.8477 10.0004L11.4253 5.71533V14.2854Z"
											fill="white"></path>
									</g>
								</svg>
							</a>
						</li>
						<li>
							<a
								href="mailto:amjadclnyaghi@gmail.com"
								class="hover:text-secondary/80 text-secondary"
								><svg
									viewBox="0 0 24 24"
									xmlns="http://www.w3.org/2000/svg"
									height="16"
									width="16"
									><path d="M0 0h24v24H0z" fill="none"
									></path><path
										d="M3 3h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm17 4.238l-7.928 7.1L4 7.216V19h16V7.238zM4.511 5l7.55 6.662L19.502 5H4.511z"
										fill="currentColor"></path></svg
								></a
							>
						</li>
					</ul>
				</div>
			</div>
			<div
				class="h-1.5 bg-secondary"
				data-aos="fade-up"
				data-aos-duration="2000"
			>
			</div>
			<div
				class="h-3 bg-secondary"
				data-aos="fade-up"
				data-aos-duration="2500"
			>
			</div>
			<div
				class="h-6 bg-secondary"
				data-aos="fade-up"
				data-aos-duration="3000"
			>
			</div>
			<div
				class="h-12 bg-secondary"
				data-aos="fade-up"
				data-aos-duration="3000"
			>
			</div>
			<div
				class="h-24 bg-secondary flex items-end p-4"
				data-aos="fade-up"
				data-aos-duration="3000"
				data-aos-delay="150"
			>
			</div>
			<div class="flex w-full">
				<span
					data-aos="fade-up"
					data-aos-duration="3000"
					data-aos-delay="150"
					class="text-xs font-medium text-secondary flex"
					>University of British Columbia &nbsp;<a
						class="hover:text-black duration-200 font-bold"
						href="https://www.ubc.ca">UBC</a
					></span
				>
			</div>
		</div>
	</div>
</section>
