<footer class="mt-12 p-8 flex flex-col gap-2 2xl:max-w-7xl mx-auto">
	<div class="h-2 bg-secondary"></div>
	<div class="h-4 bg-secondary"></div>
	<div class="h-6 bg-secondary flex items-end p-4"></div>
</footer>
