---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "./Header.astro";
import Footer from "./Footer.astro";

const { project } = Astro.props;
---

<BaseLayout>
	<Header />
	<main
		data-aos="fade-up"
		data-aos-duration="2000"
		class="px-8 2xl:max-w-7xl mx-auto"
	>
		<div class="text-center">
			<h1 class="mt-8 text-4xl lg:text-6xl font-bold text-secondary">
				{project.data.title}
			</h1>
			<p class="my-4 text-slate-800">{project.data.description}</p>

			<a
				href={project.data.link}
				target="_blank"
				rel="noopener noreferrer"
				class="inline-block px-4 py-2 mt-4 bg-secondary text-primary rounded"
			>
				Github
			</a>
		</div>

		<div
			class="mx-auto mt-8 lg:mt-16 xl:mt-24 prose lg:prose-xl"
			set:html={project.rendered.html}
		/>
	</main>

	<Footer />
</BaseLayout>
